<html>
{% include 'main.tpl' %}
    <div class="container" align="center">
      <h1>Desenvolvedores</h1>
    </br>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Função</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nome</td>
            <td>Função</td>
            <td>E-mail</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </body>
</html>
