<html>
{% include 'main.tpl' %}
      <h1>Trabalho de Cálculo</h1>
    </br>
      <p>Ferramentas para geração de gráficos</p>
   </br>
   <p>Funções</p>
      <a class="btn btn-primary btn-lg" href="/1grau" role="button">1ª Grau</a>
      <a class="btn btn-primary btn-lg" href="/2grau" role="button">2ª Grau</a>
      <a class="btn btn-primary btn-lg" href="/expo" role="button">Exponecial</a>
      <a class="btn btn-primary btn-lg" href="/log" role="button">Logarítma</a>
      <br>
      <a class="btn btn-primary btn-lg" href="/lim" role="button">Limite</a>
      <a class="btn btn-primary btn-lg" href="/der" role="button">Derivada</a>
      <form action="/index" method="POST">
      </br>
      </div>
  </body>
</html>
